/*
ORANGE: #f58026;
Grey: #3b4046;

NAVY BLUE: #2C3E50;
Navy Blue active: #1A242F;
Turquoise: #18BC9C;
White: #FFFFFF;

Section CSS
*/
html {
    background-color: #f58026;
}

body {
    padding-top: 50px;
}

nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
}

nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

.navbar-brand {
    font-size: 30px;

}

nav.navbar.shrink {
    min-height: 35px;
    height: 40px;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}

nav.shrink .navbar-brand {
    font-size: 25px;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}

section {
    color: #ffffff;
    min-height: 600px;
    /*height: auto !important;*/
    height: 100%;
    /*padding-top: 100px;*/
}

.bg-1 {
    background: url('../images/bg/IMG_0301.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
    background: url('../images/bg/IMG_0301.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('../images/bg/HeathandJohny.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-4 {
    padding-top: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.2)), to(rgba(255, 255, 255, 0)), color-stop(1, #000));
}

/*
Collapse Header CSS
*/

body {
    text-align: center;
}

header {
    height: 100px;
    background: #dbdbdb;
    width: 100%;
    z-index: 10;
}

#banner {
    width: 100%;
    position: fixed;
    z-index: 0.0001;

    top: 60px;

}

@media (min-width: 10px) and (max-width: 768px) {
    #content {
        width: 100%;
        position: relative;
        top: 300px;
        background: #F8F8FF;
        z-index: 10;

    }
}

@media (min-width: 769px) and (max-width: 999999px) {
    #content {
        width: 100%;
        position: relative;
        top: 800px;
        background: #F8F8FF;
        z-index: 10;

    }
}

@media (max-width: 768px) {

}

@media (min-width: 1200px) {

}

.navbar-navyBlue {
    background-color: #f58026;

    borde: none;
}

.navbar-navyBlue .navbar-brand {
    color: #dbdbdb;
}

.navbar-navyBlue .navbar-brand:hover,
.navbar-navyBlue .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-navyBlue .navbar-text {
    color: #9d9d9d;
}

.navbar-navyBlue .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-navyBlue .navbar-nav > li > a:hover,
.navbar-navyBlue .navbar-nav > li > a:focus {
    color: #3b4046;
    background-color: transparent;
}

.navbar-navyBlue .navbar-nav > .active > a,
.navbar-navyBlue .navbar-nav > .active > a:hover,
.navbar-navyBlue .navbar-nav > .active > a:focus {
    color: #f58026;
    background-color: #F8F8FF;
}

.navbar-navyBlue .navbar-nav > .disabled > a,
.navbar-navyBlue .navbar-nav > .disabled > a:hover,
.navbar-navyBlue .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}

.navbar-navyBlue .navbar-toggle {
    border-color: #333;
}

.navbar-navyBlue .navbar-toggle:hover,
.navbar-navyBlue .navbar-toggle:focus {
    background-color: #333;
}

.navbar-navyBlue .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-navyBlue .navbar-collapse,
.navbar-inverse .navbar-form {

}

.navbar-navyBlue .navbar-nav > .open > a,
.navbar-navyBlue .navbar-nav > .open > a:hover,
.navbar-navyBlue .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}

@media (max-width: 767px) {
    .navbar-navyBlue .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }

    .navbar-navyBlue .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }

    .navbar-navyBlue .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

    .navbar-navyBlue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-navyBlue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-navyBlue .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-navyBlue .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-navyBlue .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #1A242F;
    }

    .navbar-navyBlue .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-navyBlue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-navyBlue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

.navbar-navyBlue .navbar-link {
    color: #9d9d9d;
}

.navbar-navyBlue .navbar-link:hover {
    color: #fff;
}

.navbar-navyBlue .btn-link {
    color: #9d9d9d;
}

.navbar-navyBlue .btn-link:hover,
.navbar-navyBlue .btn-link:focus {
    color: #fff;
}

.navbar-navyBlue .btn-link[disabled]:hover,
fieldset[disabled] .navbar-navyBlue .btn-link:hover,
.navbar-navyBlue .btn-link[disabled]:focus,
fieldset[disabled] .navbar-navyBlue .btn-link:focus {
    color: #444;
}

.arrowColour {
    color: #f58026;
}

/*
Transform effects on thumbnails for projects
*/

.home-thumb img:hover {
    transform: scale(1.1);
}

/*


*/

/*
propoerty all, duration, timing function, delay
*/
.thumbnail img {
    transition: all 0.3s ease 0s;
    width: 100%;
}

/* Stop it image overflowing the border */

.thumbnail {
    overflow: hidden;
}

.footer {
    background-color: #f58026;
}

.whiteText {
    color: #ffffff;
}

.orangeText {
    color: #f58026;
}

a.active{
    text-decoration: underline !important;
}


a.facebook {
    color: #FFFFFF;
    text-decoration: none;
}
a.facebook:hover,
a.facebook:focus {
    color: #23527c;
    text-decoration: underline;
}
a.facebook:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a.twitter {
    color: #FFFFFF;
    text-decoration: none;
}
a.twitter:hover,
a.twitter:focus {
    color: #4099FF;
    text-decoration: underline;
}
a.twitter:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a.linkdn{
    color: #FFFFFF;
    text-decoration: none;
}
a.linkdn:hover,
a.linkdn:focus {
    color: #007bb6;
    text-decoration: underline;
}
a.linkdn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a.google {
    color: #FFFFFF;
    text-decoration: none;
}
a.google:hover,
a.google:focus {
    color: #db4c3e;
    text-decoration: underline;
}
a.google:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}



a.PLOrange {
    color: #f58026;
    text-decoration: none;
}
a.PLOrange:hover,
a.PLOrange:focus {
    color: #3b4046;
    text-decoration: none;
}
a.PLOrange:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

ul.showcase{
    list-style: none;
}

h2.showcase{
    color: #f58026;
}


.buffer {
    height: 110px;
}



.btn-tronOrange {
    color: #fff;
    background-color: #f58026;
    border-color: #f58026;
    opacity: 0.7;
}
.btn-tronOrange:hover,
.btn-tronOrange:focus,
.btn-tronOrange.focus,
.btn-tronOrange:active,
.btn-tronOrange.active,
.open > .dropdown-toggle.btn-tronOrange {
    color: #fff;
    background-color: #f58026;
    border-color: #f58026;
    opacity: 1.0;
}
.btn-tronOrange:active,
.btn-tronOrange.active,
.open > .dropdown-toggle.btn-tronOrange {
    background-image: none;
}
.btn-tronOrange.disabled,
.btn-tronOrange[disabled],
fieldset[disabled] .btn-tronOrange,
.btn-tronOrange.disabled:hover,
.btn-tronOrange[disabled]:hover,
fieldset[disabled] .btn-tronOrange:hover,
.btn-tronOrange.disabled:focus,
.btn-tronOrange[disabled]:focus,
fieldset[disabled] .btn-tronOrange:focus,
.btn-tronOrange.disabled.focus,
.btn-tronOrange[disabled].focus,
fieldset[disabled] .btn-tronOrange.focus,
.btn-tronOrange.disabled:active,
.btn-tronOrange[disabled]:active,
fieldset[disabled] .btn-tronOrange:active,
.btn-tronOrange.disabled.active,
.btn-tronOrange[disabled].active,
fieldset[disabled] .btn-tronOrange.active {
    background-color: #f58026;
    border-color: #f58026;
}
.btn-tronOrange .badge {
    color: #f58026;
    background-color: #fff;
}




.orangeLink {
    color: #f58026;

    opacity: 0.7;
}

.orangeLink:hover,
.orangeLink:active,
.orangeLink:focus {
    color: #f58026;

    opacity: 1.0;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #f58026;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}

.tutorialThumbnail {
    border: none;
    background-color: #F8F8FF;
}


/*
COMMENTS CSS START
*/

.comments{
    margin-bottom:20px;
    background-color:#fff
}
.comments>ul{
    display:inline-block;
    list-style:none;
    width:100%;
    padding:0
}
.comments>ul>li{
    width:100%;
    float:left
}.comments>ul>li img{
     border:1px solid #e3e3e3;
     width:12%
 }
.comments>ul>li ul{
    float:left;
    width:100%;
    padding-left:15%;
    list-style:none
}
.comments .comment{
    float:right;
    position:relative;
    width:85%;
    padding:18px;
    background-color:#F7F8FA;
    margin-bottom:35px;
    border:1px solid #e3e3e3
}
.comments .comment:before,.comments .comment:after{
    content:"";
    position:absolute;
    top:14px;
    left:-8px;
    z-index:10;
    width:0;
    height:0;
    border-style:solid solid outset solid;
    border-width:8px 10px 8px 0;border-color:transparent #F7F8FA transparent transparent
}
.comments .comment:before{
    z-index:9;
    left:-10px;
    border-color:transparent #e3e3e3 transparent transparent
}
.comments .comment h3{
    border-bottom:1px solid #e3e3e3;
    margin-bottom:15px;
    font-weight:300
}
.comments .comment h3 small{
    display:block;
    font-size:9pt;
    margin:5px 0 10px
}
.comments .comment .btn{
    float:right;
    margin-bottom:14px
}
.comments-form{
    padding-left:13%
}.comments-form h3{
     font-weight:300
 }
.comments-form p{
    color:#adb2b6
}
.comments-form .form-style{
    padding:0;margin-top:20px;
    display:inline-block;
    background-color:transparent
}

.form-control {
    height: auto;
}


.addTopMargin {
    margin-top: 10px;
}


/*
COMMENTS CSS START
*/















